.display-infor-container {
    .red {
        color: pink;
    }
    
    .green {
        color: green;
    }

    img {
        width: 200px;
        height: 200px;
        animation: App-logo-spin infinite 3s linear;
    }
}





